section.page.pageTwo
  div.container-fluid
    div.row
      div#date-text
      input#date-pick( type='date', name='show-date')
      canvas#cycles( width='500px', height='500px')
      table#moonth-grid
        tr 
          td 
            a#day1 1 
          td
            a#day2 2
          td 
            a#day3 3 
          td
            a#day4 4
          td
            a#day5 5
        tr 
          td 
            a#day6 6 
          td
            a#day7 7
          td 
            a#day8 8 
          td
            a#day9 9
          td
            a#day10 10
        tr 
          td 
            a#day11 11 
          td
            a#day12 12
          td 
            a#day13 13 
          td
            a#day14 14
          td
            a#day15 15
        tr 
          td 
            a#day16 16 
          td
            a#day17 17
          td 
            a#day18 18
          td
            a#day19 19
          td
            a#day20 20
        tr 
          td 
            a#day21 21 
          td
            a#day22 22
          td 
            a#day23 23 
          td
            a#day24 24
          td
            a#day25 25
        tr 
          td 
            a#day26 26
          td
            a#day27 27
          td 
            a#day28 28 
          td
            a#day29 29
          td
            a#day30 30

      table#months-in-year
        tr#moonth-row



